.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d5e1ef;
}

.card {
  text-align: center;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  max-width: 355px;
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

body {
  font-size: 15px;
  font-family: Outfit;
}